[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
WTForm = "*"
"pyqt5" = "*"
pyinstaller = "*"
WebUI = {git = "https://github.com/widdershin/flask-desktop.git"}
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.6"
