ul
{
list-style-type: none;
padding: 0;
margin: 0;
}

.ul-logo
{
	margin-right: -15px;
	padding: 10px 15px 8px 15px;
}
.ul-logo img
{
	height: 32px;
}

#progress-wrapper
{
    display: none;
}

.progress-bar
{
	min-width: 3%;
}

.group-description
{
	margin: 20px 0;
}

ul.questions-list, ul.subquestions-list, ul.answers-list
{
    list-style-type: none;
    padding: 0;
}

p.question.answer-item
{
	margin-bottom: 0;
}

/*.radio-list li input, .radio-list li label, .checkbox-list li input, .checkbox-list li label
{
    vertical-align: middle;
    display: inline;
}*/

.panel-heading
{
	position: relative;
}

.panel-body label, .panel-body table th
{
	font-weight: normal;
}

.panel-body table thead th, .panel-body table .headings th, .panel-body table td
{
	text-align: center;
}

.panel-body table td.text-item
{
	text-align: left;
}

.panel-body table thead th, .panel-body table tbody tr.headings th
{
	font-size: 12px;
}

.panel-body table td.dual_scale_separator
{
	border-left: 2px solid #DDDDDD;
}

.panel-body table td input
{
	display: inline;
}

.panel-body ul, .panel-body table
{
	margin-bottom: 0;
}

.asterisk
{
	display: none;
}

.qnumcode
{
	background-color: #E5E5E5;
	border-radius: 3px;
	margin-right: 5px;
	padding: 0 5px;
	float: left;
	display: inline-block;
}

.questionhelp
{
    font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.error
{
    color: #CC0000;
    margin: 20px 0;
}

.errormandatory
{
    color: #CC0000;
}

.table tbody tr.headings th
{
	vertical-align: bottom;
	text-align: center;
}

input.checkbox
{
	display:inline;	
}

.answer-help
{
	/*margin-top:10px;*/
}

.answer-help img
{
	display:none;	
}

ul.colstyle-ul
{
	display: table-cell;
	padding: 0 10px;
}

ul.colstyle-ul li
{
	text-align: center;
}

ul.colstyle-ul label
{
	display: block;
}
