{% macro render_field(field) %}
    <label for="{{ field.label.text }}">{{ field.label.text }}</label>
    {{ field(class_="form-control", **kwargs)|safe }}
    
{% endmacro %}

{% macro render_field_bold(field) %}
    <label class="font-weight-bold" for="{{ field.label.text }}">{{ field.label.text }}</label>
    {{ field(class_="form-control", **kwargs)|safe }}
    
{% endmacro %}

{% macro render_field_radio_horizontal(field) %}
            <label for="{{ field.label.text }}">{{ field.label.text }}</label>
            <div class="form-control">
            <div class="row">
                {% for subfield in field %}
                <div class="col-md">
                    {{ subfield }}{{ subfield.label.text }}
                </div>
                {% endfor %}
            </div>
        </div>
{% endmacro %}

{% macro render_fields(field) %}
<div class="panel panel-default" >
        <div class="panel-heading">
            <h2 class="panel-title">Activités</h2>
        </div>
    <div class="panel-body" align="center">
    <dd>
            <div class="table-responsive">
        <table id="MyTable" class="table table-striped">
            <tr>
                    <td>
                        Activité
                    </td>
                    <td>
                        type
                    </td>
                </tr>
            {% for subfield in field %}
        
                <tr>
                            {% for subsubfield in subfield %}
                            <td>
                                    {{ subsubfield }}
                            </td>
                            {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
    </dd>
    </div>
    </div>
{% endmacro %}