{% extends "layout.html" %} 
{% block body %} 

<div class="container ">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    <h3 class="card-title">Fin</h3>
                </div>
                <div class="card-body text-justify">
                        <p>
                                Merci de votre participation!
                        </p>

                    </div>
                    
                </div>     
            </div>
        </div>
    </div>
</div>

{% endblock %}