{% extends "layout.html" %} 
{% block body %}
<style>
    .slidecontainer {
        width: 100%;
    }
    
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    
    .slider:hover {
        opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }
</style>

<div class="container ">

    <div class="row">
        <div class="col-md-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    <h4 class="mb-12">Journal de Bord</h4>
                </div>
                <div class="card-body text-left">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger" role="alert">
                        <div class=flash>{{ message }}</div>
                    </div>
                    {% endfor %}
                    <form method=post>
                        <div class="row">
                            <div class="col">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">Activités</h2>
                                    </div>
                                    <div class="panel-body" align="center">
                                        <dd>
                                            <div class="table-responsive">
                                                <table id="MyTable" class="table table-striped">
                                                    <thead class="thead-light">
                                                    <tr>
                                                        <th width="60%">Activité</th>
                                                        <th width="20">heure</th>
                                                        <th width="20%">type</th>
                                                    </tr>
                                                    </thead>
                                                    {% for field in form.activity %}
                                                    <tr>
                                                        <td>{{ field.activity_name(class_="form-control")|safe }}</td>
                                                        <td>{{ field.activity_time(class_="form-control", type='time')|safe }}</td>
                                                        <td>{{ field.activity_type(class_="form-control")|safe }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </dd>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-sm" id="filldetails" onclick="addFields()">Ajouter une activité</a>
                        <hr>
                        <div class="slidecontainer">
                            <p>Indiquer votre niveau de stress d'aujourd'hui sur l'échelle suivante</p>
                            <input type="range" class="slider" id="stress" name="stress" value="50">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <b>Aucun </b>
                                </div>
                                <div>
                                    <b>Le pire qu'il puisse être</b>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <hr>
                        <div class="slidecontainer">
                            <p>Indiquer votre niveau de fatigue sur l'échelle suivante</p>
                            <input type="range" class="slider" id="tiredness" name="tiredness" value="50">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <b>Aucun </b>
                                </div>
                                <div>
                                    <b>Le pire qu'il puisse être</b>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <hr>
                        <div class="slidecontainer">
                            <p>Indiquer votre niveau d'effort physique moyen pendant la journée</p>
                            <input type="range" class="slider" id="workload" name="workload" value="50">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <b>Aucun </b>
                                </div>
                                <div>
                                    <b>Le pire qu'il puisse être</b>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <hr>
                        <p>Avez-vous des commentaires généraux à nous faire part?</p>
                            {{ form.commentaires(class_="form-control") }}
                        <div class="card-body text-right">
                            <button class="btn btn-success btn-lg" type="submit">Terminer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %} {% block scripts %}
<script>
    var number = 1
    function addFields() {
        // Find a <table> element with id="myTable":
        var table = document.getElementById("MyTable");

        // Create an empty <tr> element and add it to the 1st position of the table:
        var row = table.insertRow(-1);

        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);

        // Add some text to the new cells:
        cell1.innerHTML = '{{ form.activity[0].activity_name(class_="form-control")|safe }}'.replace(/0/g,(number).toString() )
        cell2.innerHTML = '{{ form.activity[0].activity_time(class_="form-control", type="time")|safe }}'.replace(/0/g,(number).toString() )
        cell3.innerHTML = '{{ form.activity[0].activity_type(class_="form-control")|safe }}'.replace(/0/g,(number).toString() )
        number += 1
    }
</script> {% endblock %}